name: ci

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/workflows/*.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/workflows/*.yml'

jobs:
  stonedb:
    name: DBMS Tests (StoneDB)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up StoneDB
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          echo "df -H"
          df -H
          echo "docker pull stoneatom/stonedb"
          docker pull stoneatom/stonedb
          echo "docker run -p 3306:3306 -itd  -e MYSQL_ROOT_PASSWORD='123456'  stoneatom/stonedb"
          docker run -p 3306:3306 -itd  -e MYSQL_ROOT_PASSWORD='123456'  stoneatom/stonedb
          echo "docker ps"
          docker ps
          ContainerID=$(docker ps --filter ancestor=stoneatom/stonedb --format "{{.ID}}") 
          echo $ContainerID
          docker exec $ContainerID bash
      - name: Set up JDK 11
        uses: actions/setup-java@v1.4.4
        with:
          java-version: 11
      - name: Build
        run: mvn -B package -DskipTests=true
      - name: SQLite Tests
        run: |
          STONEDB_AVAILABLE=true mvn -Dtest=TestStoneDB